<script setup lang="ts">
import axios from 'axios';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useSessionStore } from '../stores/sessionStore'

const username = ref("");
const password = ref("");

const router = useRouter();
const sessionStore = useSessionStore();

const login = async () => {
    const res = await axios.post("/login", {data: {username: username.value, password: password.value}});
    if(res.data.success){
        sessionStore.loggedIn = true;
        sessionStore.teacherId = res.data.teacherId;
        sessionStore.token = res.data.token;
        sessionStore.isAdmin = res.data.isAdmin;
        sessionStore.exp = res.data.exp;
        router.push("/");
    }
}
</script>

<template>
<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
          <img class="w- mr-2" src="/logo.png" alt="logo">  
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                  Anmelden
              </h1>
              <form class="space-y-4 md:space-y-6" action="#">
                  <div>
                      <label for="user" class="block mb-2 text-sm font-medium text-gray-900">Kürzel</label>
                      <input v-model="username" type="text" name="user" id="user" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Passwort</label>
                      <input v-model="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  </div>
                  <button @click="login" type="button" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Anmelden</button>
              </form>
          </div>
      </div>
  </div>
</section>
</template>