<script lang="ts" setup>
import { useRouter } from 'vue-router';
import { routes } from '../main';
import { useSessionStore } from '../stores/sessionStore';

const router = useRouter();
const sessionStore = useSessionStore();

const logout = () => {
  sessionStore.loggedIn = false;
  sessionStore.token = "";
  router.push("/login")
};

</script>
<template>
<nav class="bg-white border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img class="w-2/5" src="/logo.png" />
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <template v-for="route in routes">
          <li v-if="!route.hideNav && (route.adminRoute && sessionStore.isAdmin || !route.adminRoute)">
            <a :href="route.path" class="block py-2 px-3 text-gray-900 rounded" :class="{'text-blue-700': router.currentRoute.value.path == route.path}">{{ route.name }}</a>
          </li>
        </template>
      </ul>
    </div>
    <button @click="logout" class="bg-red-600 text-white hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Abmelden</button>
  </div>
</nav>
</template>