<script setup lang="ts">
import axios from 'axios';
import { useSessionStore } from '../stores/sessionStore';
import Navbar from '../components/Navbar.vue';
import { ref } from 'vue';

const sessionStore = useSessionStore();
const messages = ref<any[]>([]);

const onClassFileChange = ($event: any) => {
    const file = $event.target.files[0];
    const reader = new FileReader();
    if (file) {
        reader.readAsDataURL(file);
        reader.onload = async () => {
          const res = await axios.post("/import/classinformations", {'file': reader.result});
          $event.target.value = null;
          messages.value.push({'text':res.data.schoolClassImportedCount+" Klassen importiert!"});
        };
        
    }
}
const onTeacherFileChange = ($event: any) => {
    const file = $event.target.files[0];
    const reader = new FileReader();
    if (file) { 
        reader.readAsDataURL(file);
        reader.onload = async () => {
          const res = await axios.post("/import/teacher", {'file': reader.result});
          $event.target.value = null;
          messages.value.push({'text':res.data.importedCount+" Lehrer importiert!"});
        };
        
    }
}
const onCourseFileChange = ($event: any) => {
    const file = $event.target.files[0];
    const reader = new FileReader();
    if (file) { 
        reader.readAsDataURL(file);
        reader.onload = async () => {
          const res = await axios.post("/import/course", {'file': reader.result});
          $event.target.value = null;
          messages.value.push({'text':res.data.importedCount+" Kurse importiert!"});
        };
        
    }
}
</script>
<template>
    <Navbar :isAdmin="sessionStore.$state.isAdmin"></Navbar>
    <div class="fixed z-50 right-5">
        <div @click="messages.slice(messages.indexOf(message),1)" v-for="message in messages" class="flex items-center w-full max-w-xs p-4 space-x-4 text-white bg-green-600 divide-x divide-gray-200 rounded-lg shadow" role="alert">
            <svg class="w-5 h-5 text-white rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
            </svg>
            <div class="ps-4 text-sm font-normal">{{message.text}}</div>
        </div>
    </div>

    <div class="w-full max-w-screen-xl mx-auto mt-12 bg-white border border-gray-200 rounded-lg shadow p-6">
        <span class="text-2xl">Klasseninformationen.CSV</span><br><br>
        <input @change="onClassFileChange($event)" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50" type="file">
    </div>
    <div class="w-full max-w-screen-xl mx-auto mt-12 bg-white border border-gray-200 rounded-lg shadow p-6">
        <span class="text-2xl">Lehrerkürzel.CSV</span><br><br>
        <input @change="onTeacherFileChange($event)" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50" type="file">
    </div>
    <div class="w-full max-w-screen-xl mx-auto mt-12 bg-white border border-gray-200 rounded-lg shadow p-6">
        <span class="text-2xl">Kurselisten.CSV</span><br><br>
        <input @change="onCourseFileChange($event)" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50" type="file">
    </div>
</template>