<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useSessionStore } from '../stores/sessionStore';
import { onBeforeMount, ref } from 'vue';
import axios from 'axios';
import Navbar from '../components/Navbar.vue';

const sessionStore = useSessionStore();
const router = useRouter();

if(!sessionStore.loggedIn){
    router.push("/login");
}

const openCourses = ref();

onBeforeMount(async () => {
  await loadJobs();
});

const loadJobs = async () => {
    openCourses.value = (await axios.get("/openCourseJobs")).data;
};

const closeCourse = async (id: number) => {
    await axios.get("/closeCourseJob/"+id);
    loadJobs();
};
</script>
<template>
<Navbar></Navbar>

<div class="w-full max-w-screen-xl mx-auto mt-12">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <span class="text-2xl">Offene Aufträge</span><br><br>
<div v-for="schoolType in openCourses" class="pb-12">
    <span class="text-2xl">{{ schoolType.name }}</span><br><br>
    <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Klasse
                </th>
                <th scope="col" class="px-6 py-3">
                    Fach
                </th>
                <th scope="col" class="px-6 py-3">
                    Stundenanzahl
                </th>
                <th scope="col" class="px-6 py-3">
                    Lehrer
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <template v-for="schoolClass in schoolType.schoolClasses">
                <tr v-for="course in schoolClass.courses" class="border-b" :class="{'bg-red-200': course.deleted, 'bg-white': !course.deleted}">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ schoolClass.name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ course.subject.name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ course.numberOfhours }}
                    </td>
                    <td class="px-6 py-4">
                        {{ course.teacher.firstname }} {{ course.teacher.lastname }}
                    </td>
                    <td class="px-6 py-4">
                        <button @click="closeCourse(course.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
</div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2024 Julian Stange.
  </p>
</div>
</template>