<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useSessionStore } from '../stores/sessionStore';
import { computed, onBeforeMount, ref, watch } from 'vue';
import axios from 'axios';
import Navbar from '../components/Navbar.vue';
import { SchoolClass } from '../models/schoolclass';
import { Subject } from '../models/subject';
import { Teacher } from '../models/teacher';
import { Course } from '../models/course';

const sessionStore = useSessionStore();
const router = useRouter();

if(!sessionStore.loggedIn){
    router.push("/login");
}

const schoolClasses = ref<SchoolClass[]>([]);
const subjects = ref<Subject[]>([]);
const teachers = ref<Teacher[]>([]);
const editMode = ref(false);
const selectedSchoolClass = ref<number>();
const subjectToAdd = ref<Subject>();

onBeforeMount(async () => {
  schoolClasses.value = (await axios.get("/schoolClasses")).data;
  teachers.value = (await axios.get("/teachers")).data;
});

const loadCourse = async () => {
  subjects.value = (await axios.get("/courseform/"+selectedSchoolClass.value)).data;
}

const save = async () => {
  await axios.put("/courseform", subjects.value);
  editMode.value = false;
};

const deleteSubject = async (subject: Subject) => {
  if(subject.id) { 
    subject.courses[0].deleted = true;
    subject.courses[0].processed = false; 
  } else { 
    subject.courses = [];
  }
};


const addSubject = async () => {
  const c = new Course();
  if(subjectToAdd.value) c.subjectId = subjectToAdd.value.id;
  if(selectedSchoolClass.value) c.schoolClassId = selectedSchoolClass.value;
  subjectToAdd.value?.courses.push(c);
};

watch(editMode, async (val) => {
  if(!val) loadCourse();
});

const subjectsToSelect = computed(() => {
  return subjects.value.filter((x) => x.courses.length == 0);
});

</script>
<template>
<Navbar></Navbar>

<div class="w-full max-w-screen-xl mx-auto mt-12">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <span class="text-2xl">Fehlenden Kurs melden</span><br>
    <div class="mb-4 mt-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Klasse
      </label>
      <select :disabled="editMode" v-model="selectedSchoolClass" @change="loadCourse" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option :value="schoolClass.id" v-for="schoolClass in schoolClasses">{{ schoolClass.name }}</option>
      </select>
    </div>

  <button v-if="selectedSchoolClass" @click="editMode = !editMode" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
    <i v-if="!editMode" class="fa-solid fa-pen-to-square"></i>
    <i v-else class="fa-solid fa-x"></i>
  </button>
  <button v-if="editMode" @click="save" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
    <i class="fa-solid fa-check"></i>
  </button>
  <br><br>
  <div v-if="editMode" class="flex mb-4 space-x-4">
    <select v-model="subjectToAdd" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option :value="subject" v-for="subject in subjectsToSelect">{{ subject.name }}</option>
    </select>
    <button @click="addSubject" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Fach
                </th>
                <th scope="col" class="px-6 py-3">
                    Stundenanzahl
                </th>
                <th scope="col" class="px-6 py-3">
                    Lehrer
                </th>
                <th scope="col" class="px-6 py-3">

                </th>
            </tr>
        </thead>
        <tbody>
          <template v-for="subject in subjects">
            <tr v-if="subject.courses[0] && !subject.courses[0].deleted" class="bg-white border-b" :class="{'bg-yellow-200' : subject.courses[0].numberOfhours == null || subject.courses[0].teacherId == null}">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ subject.name }}
                </th>
                <td class="px-6 py-4">
                  <input @change="subject.courses[0].processed = false" :disabled="!editMode" v-model="subject.courses[0].numberOfhours" type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </td>
                <td class="px-6 py-4">
                  <select @change="subject.courses[0].processed = false" :disabled="!editMode" v-model="subject.courses[0].teacherId" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option :value="teacher.id" v-for="teacher in teachers">{{ teacher.firstname }} {{ teacher.lastname }}</option>
                  </select>
                </td>
                <td class="px-6 py-4">
                  <button v-if="editMode" @click="deleteSubject(subject)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    <i class="fa-solid fa-x"></i>
                  </button>
                </td>
            </tr>
          </template>
        </tbody>
    </table>
  </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2024 Julian Stange.
  </p>
</div>
</template>